<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css0203/main.css">
</head>

<body>
  <div th:replace="fragments0203/header0203 :: header"></div>
  <div layout:fragment="content"></div>
  <div th:replace="fragments0203/footer0203 :: footer"></div>
</body>

</html>