.youtubes {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.videoli {
  width: 50%;
  padding: 0.2em;
}

.videodiv {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  cursor: pointer;
  box-shadow: 3px 3px 5px 0px rgba(191, 191, 191, 0.55);
  transition: transform 250ms ease-in;
  &:hover {
    transform: scale(1.02);
  }
}

.thumb {
  width: 40%;
}

.videoinfo {
  margin-left: 0.3em;
}

.ptitle{
  margin: 10;
  font-size: 0.8rem;
}

.cptitle{
  margin: 0;
  font-size: 0.6rem;
}
