* {
  /* border: 1px solid red; */
  box-sizing: border-box;
}

.navbar {
  font-size: 2rem;
  padding: 1em;
  background-color: blanchedalmond;
}

.navbar-logo {
  color: green;
  margin-right: 0.5em;
}

.navbar-count {
  display: inline-block;
  text-align: center;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  background-color: green;
  color:white;
  border-radius: 50%;
}

.add-input {
  font-size: 2rem;
  margin-right: 0.2em;
}

.add-button {
  height: 100%;
  font-size: 1.6rem;
  padding: 0.3em 0.5em;
  background-color: green;
  color: white;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}

.workout {
  font-size: 2.5rem;
  padding: 0.5em;
  list-style: none;
}
/* 인라인요소는 가로세로크기 적용되지 않음 */
.workout-count {
  display: inline-block;
  font-size: 2rem;
  width: 2.5rem;
  height: 2.5rem;
  background-color: darkseagreen;
  color: white;
  border-radius: 50%;
  text-align: center;
  line-height: 2.5rem;
}

.workout-button {
  font-size: 2.5rem;
  margin: 0 0.1em;
  background-color: transparent;
}

.workout-button:hover {
  opacity: 0.8;
}

.workout-increase,
.workout-decrease {
  color: goldenrod;
}

.workout-delete {
  font-size: 2rem;
  color: darkred;
}