<div class="row my-5">
  <div class="col">
    <h1 class="text-center mb-5">글수정</h1>
    <form name="frm" method="post">
      <input class="form-control my-2" name="title" placeholder="제목을 입력하세요.">
      <textarea class="form-control" name="body" rows="10" placeholder="내용을 입력하세요."></textarea>
      <div class="text-center my-2">
        <button class="btn btn-primary">글수정</button>
        <button class="btn btn-secondary" type="reset">수정취소</button>
      </div>
    </form>
  </div>
</div>

<script type="module">
  import { app } from "/javascripts/firebase_11_25.js"
  import { getFirestore, doc, getDoc, setDoc } from "https://www.gstatic.com/firebasejs/11.0.2/firebase-firestore.js";
  const db = getFirestore(app);

  // routes > index.js에서 파라미터로 받은 값을 출력한다.
  const id = "<%=id%>";
  console.log(`수정하고자하는 id ===> ${id}`);
  const email = localStorage.getItem("email")
  let post = null;

  // db에서 가져온 정보 출력하기
  getPost()
  async function getPost() {
    const snapshot = await getDoc(doc(db, `posts/${id}`))
    post = snapshot.data()
    console.log(post.title + ", " + post.body)
    $(frm.title).val(post.title)
    $(frm.body).val(post.body)
  }

  // 글 수정 버튼 이벤트 처리
  $(frm).on("submit", async function (e) {
    console.log('글수정 클릭');
    e.preventDefault(); // sumbit이슈로 추가 - 새로고침이 발생한다.
    $("#modal-confirm .modal-body").html("수정된 정보를 저장하시겠습니까?")
    $("#modal-confirm").modal("show")

    // 비동기 적으로 처리될 수 있다. - 클라우드 서비스를 이용하고 있다. 그래서 지연이 발생할수 있다. - 수정이 처리된 후에 페이지 이동을 보장한다.
    $("#modal-confirm").on("click", ".btn-primary", async function () {
      // 사용자가 입력한 제목 가져오기
      const title = $(frm.title).val()

      // 사용자가 입력한 내용
      const body = $(frm.body).val()

      // 입력은 없는걸 새로 삽입한다면 수정은 있는걸 바꾼다.
      await setDoc(doc(db, `posts/${id}`), {  // 스프레드 연산자(...)
        ...post,
        email: email,
        title: title,
        body: body
      })
      location.href = "/posts";
    }) //// end of $("#modal-confirm").on click
  }) //// end of $(frm).on submit

  // 수정 취소 이벤트 처리
  $(frm).on("reset", function (e){
    e.preventDefault()
    getPost()
  })
</script>