<link rel="stylesheet" href="/stylesheets/slick_11_22.css" />
<style>
  @media screen and (max-width: 960px) {
    #slider-div {
      display: none;
    }
  }
</style>
<nav class="navbar navbar-expand-lg bg-success navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">한빛미디어</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/book">도서검색</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/posts">게시판</a>
        </li>
        <li class="nav-item" id="cart" style="display:none">
          <a class="nav-link active" aria-current="page" href="/users/cart">장바구니</a>
        </li>
      </ul>

      <!--================  ================-->
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item" id="login">
            <a href="/login" aria-current="page" class="nav-link active">로그인</a>
          </li>
          <li class="nav-item" id="mypage" style="display: none;">
            <a href="/users/mypage" aria-current="page" class="nav-link active">MyPage</a>
          </li>
          <li class="nav-item" id="logout" style="display: none;">
            <a href="#" aria-current="page" class="nav-link active">로그아웃</a>
          </li>
        </ul>
      </div>
      <!--================  ================-->
    </div>
  </div>
</nav>
<div id="slider-div">
  <div>
    <img src="/images/header01.png" alt="배너ChatGPT" width="100%" />
  </div>
  <div>
    <img src="/images/header02.png" alt="배너ChatGPT" width="100%" />
  </div>
  <div>
    <img src="/images/header03.png" alt="배너ChatGPT" width="100%" />
  </div>
  <div>
    <img src="/images/header04.png" alt="배너ChatGPT" width="100%" />
  </div>
</div>
<script type="module">
  import { app } from '/javascripts/firebase_11_25.js'
  import { getAuth, signOut } from "https://www.gstatic.com/firebasejs/11.0.2/firebase-auth.js";
  const auth = getAuth(app)
  $("#logout").on("click", (e) => {
    const auth = getAuth();
    signOut(auth).then(() => {
      console.log("로그아웃 성공")
    }).catch((error) => {
      consloe.log(error)
    });
    // removeItem은 하나씩 지워야 하는데 clear()은 한번에 삭제된다.
    // localStorage.removeItem("uid")
    // localStorage.removeItem("email")
    localStorage.clear()
    location.href = "/"
  })
</script>

<script>
  console.log(`로그인 성공시 uid ===> ${localStorage.getItem("uid")}, ${localStorage.getItem("email")}`)

  if (localStorage.getItem('email')) {
    console.log("email이 존재하면")
    // 메뉴바에 메뉴가 로그인일때와 로그인 이전일 때 달라야한다.
    // jquery에서 제공하는 toggle()을 사용하면 보이는 건 안보이게 안보이는건 보이게 처리해준다.
    $("#login, #logout, #mypage").toggle()
    $("#mypage a").html(localStorage.getItem("email")) // innerHTML과 같다. 태그는 안 보인다.
    // $("#mypage a").text(localStorage.getItem("email")) // text는 innerText와 같다.
    // 태그가 그래로 출력이 된다.
  }
  applySlider();
  function applySlider() {
    $('#slider-div').slick({
      slide: 'div',  //슬라이드 되어야 할 태그 ex) div, li
      infinite: true,  //무한 반복 옵션
      slidesToShow: 1,  // 한 화면에 보여질 컨텐츠 개수
      slidesToScroll: 1,  //스크롤 한번에 움직일 컨텐츠 개수
      speed: 100,  // 다음 버튼 누르고 다음 화면 뜨는데까지 걸리는 시간(ms)
      arrows: true,  // 옆으로 이동하는 화살표 표시 여부
      dots: true,  // 스크롤바 아래 점으로 페이지네이션 여부
      autoplay: true,  // 자동 스크롤 사용 여부
      autoplaySpeed: 10000,  // 자동 스크롤 시 다음으로 넘어가는데 걸리는 시간 (ms)
      pauseOnHover: true,  // 슬라이드 이동시 마우스 호버하면 슬라이더 멈추게 설정
      vertical: false,  // 세로 방향 슬라이드 옵션
      prevArrow: "<button type='button' class='slick-prev'><div style='font-size:1.5rem;color:white;'>&lt;</div></button>",
      nextArrow: "<button type='button' class='slick-next'><div style='font-size:1.5rem;color:white;'>&gt;</div></button>",
      dotsClass: "slick-dots",  //아래 나오는 페이지네이션(점) css class 지정
      draggable: true,  //드래그 가능 여부 
      responsive: [  // 반응형 웹구현 옵션
        {
          breakpoint: 960,  //화면 사이즈 960px
          settings: { slidesToShow: 3 }  //위에 옵션이 디폴트 , 여기에 추가하면 그걸로 변경
        }, {
          breakpoint: 768,  //화면 사이즈 768px
          settings: { slidesToShow: 2 }  //위에 옵션이 디폴트 , 여기에 추가하면 그걸로 변경
        }
      ]
    });
  }
</script>