*{
    margin: 0px;
    padding: 0px;
}

.wrap{
    width: 800px;
    border: 10px solid black;
    margin: 100px auto;
}

.left{
    width: 400px;
    height: 400px;
    background-color: lightskyblue;
    float: left;
}

.right{
    width: 400px;
    height: 400px;
    background-color: lightgreen;
    float: left;
    position: relative;
}

.right p{
    width: 100px;
    height: 100px;
    background-color: darkgray;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

/*
absolute(앱솔루트는)는 기준점이 부모태그가 아니라
부모 요소 중에 position(포지션)이 있는 요소중 가장
가까운 요소가 기준점이 된다.
그래서 p태그의 부모인 right에 position이 없으니까
위에 wrap을 보는데 여기도 position이 없으니까
부모인 body에 위치가 된다.

결론
relative는 자기 영역을 유지하면서 위치하는데
absolute는 자기 영역을 무시하고 뜯어져 나온다.
*/

.bottom{
    width: 800px;
    height: 100px;
    background-color: pink;
    float: left;
}

.wrap::after{
    content: "";
    display: block;
    clear: both;
}