* {
  /* 패딩과 마진을 포함한 사이즈를 계산 */
  box-sizing: border-box;

  /* 마진과 패딩 공간, 영역표시, 블록요소 */
  border: 1px solid red;
}

body {
  /* 빈공간 없이 왼쪽 상단 모서리 붙인다. */
  margin: 0;
}

a {
  /* a태그 링크 밑줄 없앰 */
  text-decoration: none;
  color: white;
}

ul {
  list-style: none; /* 구슬 제거 */
  padding-left: 0; /* 구슬 공간 제거 */
}

#navbar {
  position: fixed;
  width: 100%;
  height: 60px;
  /* ul를 좌, 우로 펼친다. */
  display: flex;
  color: white;
  background-color: gray;
  justify-content: space-between;
}

.navbar-logo {
  font-size: 28px;
  font-weight: 600;
}

.navbar-menu {
  display: flex;
}

.navbar-menu-item.active {
  border: 1px solid white;
}

.navbar-menu-item:hover {
  background-color: greenyellow;
  color: black;
}

/* 섹션 공통 */
.section {
  text-align: center;
  margin: auto;
}

.hcontent {
  background-color: black;
  background-image: url("../images/01.38738297.1.jpg");
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
}

.mcontent {
  background-color: rgb(253, 242, 154);
  width: 100%;
  height: 500px;
}

.scontent {
  background-color: rgb(252, 191, 236);
  width: 100%;
  height: 500px;
}

.pcontent {
  background-color: rgb(248, 188, 188);
  width: 100%;
  height: 500px;
}

#contact {
  position: relative;
}

.ccontent {
  background-color: rgb(0, 136, 91);
  width: 100%;
  height: 200px;
}

.contact-email,
.contact-rights {
  color: white;
}

.contact-links {
  font-size: 48px;
  transition: all 300ms ease-in;
}

.contact-links i:hover {
  transform: scale(1.2);
  color: white;
}
