<div class="row my-5">
  <div class="col">
    <%-include('book_11_22/bookList_11_22.ejs')%> <!-- 도서목록 -->
    <br />
    <%-include('book_11_22/bestBook_11_22.ejs')%> <!-- 베스트 도서목록 -->
    <br />
    <%-include('book_11_22/recentBook_11_22.ejs')%> <!-- 최근 도서목록 -->
  </div>
  <script>
    const nickname = "<%= nickname %>"
    console.log(`세션에서 가져온 닉네임은 : ${nickname}`)
  </script>
</div>
<!-- 
class="row my-5"
- class="row" : 부트스트랩 프레임워크에서 지원하는 그리드 시스템
row는 그리스의 한 행을 정의하며, 내부에 있는 열을 정렬한다.
주로 화면을 구분하고 배치를 잡는데 사용한다.

- my-5 : 부트스트랩의 마진 클래스이다. 상단과 하단에 5단위의 간격을 추가한다.
: 기본 단위가 0.5rem (루트 태그)

- class="col" : 열 클래스이다.
부모 요소인 row안에서 열을 구성한다.
자동으로 화면 크기에 맞춰 크기가 조정되면 다른 열들과 균등하게 배치된다.

-->