<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>실습 - Handelbar</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
</head>

<body>
  <ul id="commentUl">

  </ul>
  <!-- 1. 템플레이팅할 html을 세팅한다. 이때 데이터 바인딩 시킬 부분은 -->
  <!--{{바인딩시킬 데이터의 프로퍼티명}} 의 형태로 적는다.  -->
  <script type="text/x-handlebars-template" id="tb-dept">
        <table border="1">
            <!-- 헤더영역 시작 -->
            <thead>
                <tr>
                    <th>부서번호</th>
                    <th>부서명</th>
                    <th>지역</th>
                </tr>
            </thead>
            <!-- 헤더영역 시작 -->
            <!-- 데이터셋 추가하는 화면 제공되는 영역 시작 -->
            <!-- for문을 사용해서 처리하면 자스코드와 태그가 섞임:권장하지 않음 -->
            <tbody>
                {{#each depts}}
                <tr>
                    <td>{{deptno}}</td>
                    <td>{{dname}}</td>
                    <td>{{loc}}</td>
                </tr>
                {{/each}}
            </tbody>
            <!-- 데이터셋 추가하는 화면 제공되는 영역 시작 -->
        </table>
    </script>

  <!-- 데이터를 렌더링할 컨테이너 -->
  <div id="output"></div>
  <script type="text/javascript">
    //데이터셋 정의 - 백엔드 처리하기
    const data = {
      depts: [
        { deptno: 10, dname: "개발1팀", loc: "서울" },
        { deptno: 20, dname: "운영팀", loc: "제주" },
        { deptno: 30, dname: "품질관리팀", loc: "세종" }
      ]
    }
    //템플릿 가져오기
    const source = document.querySelector("#tb-dept").innerHTML
    //템플릿 컴파일 - 매핑(데이터와 뷰 머지)
    const template = Handlebars.compile(source)
    //데이터와 html 렌더링
    const html = template(data)
    //결과 출력
    document.querySelector("#output").innerHTML = html
  </script>
</body>

</html>